body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111827;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.menu a:hover {
    color: #00bfff;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #60a5fa;
}

.container {
    padding: 40px;
    text-align: center;
}

.card {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.card {
    margin-bottom: 30px;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.producto-card {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px gray;
    text-align: center;
}

.producto-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
}

.producto-card h2 {
    font-size: 18px;
}

.paginacion {
    margin-top: 30px;
    text-align: center;
}

.paginacion span {
    margin: 0 15px;
    font-weight: bold;
}

.buscador {
    text-align: center;
    margin: 20px 0;
}

.buscador input {
    padding: 10px;
    width: 300px;
    border-radius: 6px;
}

.buscador button {
    padding: 10px 15px;
    cursor: pointer;
}

.buscador {
    text-align: center;
    margin: 25px 0;
}

.buscador input {
    width: 320px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 16px;
}

.buscador button {
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.tabla-resumen {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-resumen th,
.tabla-resumen td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.tabla-resumen th {
    background-color: #f2f2f2;
}

.totales-compra {
    text-align: right;
    margin-top: 25px;
    font-size: 18px;
}

.menu .usuario-activo,
nav .usuario-activo,
.usuario-activo {
    color: white !important;
    font-weight: bold;
    margin-right: 15px;
}