<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Acceso al Sistema</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <h1>Acceso al Sistema</h1>
    </header>

    <nav class="menu">
        <div>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/carrito">Carrito</a>
        </div>
    </nav>

    <div class="container">
        <div class="card">

            <h2>Selecciona el tipo de acceso</h2>

            <a href="/login-admin">
                <button>Administrador</button>
            </a>

            <br><br>

            <a href="/login-cliente">
                <button>Cliente / Comprador</button>
            </a>

            <br><br>

            <a href="/registro-cliente">
                <button>Registrarse como cliente</button>
            </a>

        </div>
    </div>

</body>

</html>