<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Administrador</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!--
    Panel administrativo para registrar, editar
    y eliminar productos del sistema.
    -->

    <header>
        <h1>Panel Administrador</h1>
    </header>

    <nav class="menu">

        <div>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/carrito">Carrito</a>
        </div>

        <div>
            <a href="/logout">Cerrar Sesión</a>
        </div>

    </nav>

    <div class="container">

        <div class="card">

            <h2>Agregar Producto</h2>

            <form action="/guardar-producto" method="POST">

                <input type="text" name="nombre" placeholder="Nombre del producto" required>

                <br><br>

                <input type="number" name="precio" placeholder="Precio" required>

                <br><br>

                <input type="text" name="imagen" placeholder="Ruta imagen" required>

                <br><br>

                <button type="submit">
                    Guardar Producto
                </button>

            </form>

        </div>

        <br>

        <h2>Productos Registrados</h2>

        <form action="/admin" method="GET" class="buscador">

    <select name="orden">
    <option value="">Ordenar productos</option>
    <option value="precio-menor">Precio: menor a mayor</option>
    <option value="precio-mayor">Precio: mayor a menor</option>
    <option value="fecha-reciente">Más recientes primero</option>
    <option value="fecha-antigua">Más antiguos primero</option>
</select>

    <button type="submit">
        Ordenar
    </button>

</form>

        <div class="productos-grid">

            {{range .}}

            <div class="producto-card">

                <img src="{{.Imagen}}" alt="{{.Nombre}}">

                <h3>{{.Nombre}}</h3>

                <p>Precio: ${{.Precio}}</p>

                <a href="/editar-producto?id={{.ID}}">
                    <button>
                        Editar Producto
                    </button>
                </a>

                <br><br>

                <a href="/eliminar-producto?id={{.ID}}">
                    <button>
                        Eliminar Producto
                    </button>
                </a>

            </div>

            {{end}}

        </div>

    </div>

</body>

</html>