<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Carrito</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!--
Vista que muestra los productos agregados
al carrito y el total acumulado.
-->

    <header>
        <h1>Carrito de Compras</h1>
    </header>

<nav class="menu">

    <div>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/carrito">Carrito</a>
    </div>

    <div>
        {{if .AdminActivo}}

            <a href="/admin">Panel Admin</a>
            <a href="/logout">Cerrar Sesión</a>

        {{else if .ClienteActivo}}

            <span class="usuario-activo">Bienvenido, {{.ClienteNombre}}</span>
            <a href="/historial">Mis Compras</a>
            <a href="/logout-cliente">Cerrar Sesión</a>

        {{else}}

            <a href="/login">Login</a>

        {{end}}
    </div>

</nav>

    <div class="container">

        <div class="card">

            <h2>Productos agregados</h2>

            {{range .Productos}}

            <div class="item-carrito">

                <span>
                    {{.Nombre}} - ${{.Precio}}
                </span>

                <a href="/eliminar?id={{.ID}}">
                    <button>Eliminar</button>
                </a>

            </div>

            {{end}}

            <hr>

            <h3>Total: ${{.Total}}</h3>

            <a href="/finalizar">
    <button>Finalizar Compra</button>
</a>

        </div>

    </div>

</body>

</html>