<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <h1>Bienvenido a Mi E-Commerce</h1>
    </header>

   <nav class="menu">

    <div>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/carrito">Carrito</a>
    </div>

    <div>
        {{if .ClienteActivo}}

            <span class="usuario-activo">Bienvenido, {{.ClienteNombre}}</span>
            <a href="/logout-cliente">Cerrar Sesión</a>

        {{else}}

            <a href="/login">Login</a>

        {{end}}
    </div>

</nav>

    <div class="container">

        <div class="card">

            <h2>Tienda Online de Tecnología</h2>

            <p>
                Bienvenido a nuestro sistema de gestión E-Commerce
                desarrollado en GoLang.
            </p>

            <p>
                Aquí podrás:
            </p>

            <ul style="text-align:left;">

                <li>Ver productos</li>

                <li>Agregar productos al carrito</li>

                <li>Eliminar productos</li>

                <li>Administrar inventario</li>

                <li>Gestionar productos desde Admin</li>

            </ul>

            <br>

            <a href="/productos">
                <button>
                    Ver Productos
                </button>
            </a>

        </div>

    </div>

</body>

</html>