<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <h1>Performance Gaming Solutions</h1>
    </header>

   <nav class="menu">

    <div>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/carrito">Carrito</a>
    </div>

    <div>
        {{if .AdminActivo}}

            <a href="/admin">Panel Admin</a>
            <a href="/logout">Cerrar Sesión</a>

        {{else if .ClienteActivo}}

            <span class="usuario-activo">Bienvenido, {{.ClienteNombre}}</span>
            <a href="/historial">Mis Compras</a>
            <a href="/logout-cliente">Cerrar Sesión</a>

        {{else}}

            <a href="/login">Login</a>

        {{end}}
    </div>

</nav>

    <div class="container">

        <div class="card-inicio">

            <h2>Tecnología de Alto Rendimiento para Gamers y Profesionales</h2>

            <p class="intro-texto">
                Bienvenido a Elite Tech Store, una plataforma especializada en la comercialización de periféricos,
                accesorios y equipamiento tecnológico de alta calidad. Nuestro objetivo es ofrecer soluciones que
                combinen rendimiento, comodidad y diseño para gamers, creadores de contenido y profesionales.
            </p>

            <div class="beneficios">

                <h3>Productos Destacados</h3>

                <ul>
                    <li>🖥️ Monitores de alto rendimiento</li>
                    <li>⌨️ Teclados y mouse gaming</li>
                    <li>🪑 Sillas ergonómicas</li>
                    <li>🎧 Accesorios y periféricos especializados</li>
                </ul>

            </div>

            <p class="intro-texto">
                Explore nuestro catálogo y encuentre la tecnología ideal para potenciar su experiencia de trabajo,
                estudio o entretenimiento.
            </p>

            <br>

            <a href="/productos">
                <button>
                    Ver Productos
                </button>
            </a>

        </div>

    </div>

</body>

</html>