<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login Cliente</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <h1>Inicio de Sesión Cliente</h1>
    </header>

    <nav class="menu">
        <div>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/registro-cliente">Registrarse</a>
        </div>
    </nav>

    <div class="container">
        <div class="card">

            <h2>Ingresar</h2>

            <form action="/validar-cliente" method="POST">
                <input type="email" name="correo" placeholder="Correo electrónico" required>
                <br><br>

                <input type="password" name="password" placeholder="Contraseña" required>
                <br><br>

                <button type="submit">Iniciar Sesión</button>
            </form>

        </div>
    </div>

</body>

</html>