<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <header>
        <h1>Productos Disponibles</h1>
    </header>

    <nav class="menu">

        <div>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/carrito">Carrito</a>
        </div>

        <div>
            <a href="/login">Login</a>
        </div>

    </nav>

    <form action="/productos" method="GET" class="buscador">

    <input
        type="text"
        name="buscar"
        placeholder="Buscar producto">

    <button type="submit">
        Buscar
    </button>

</form>

<form action="/productos" method="GET" class="buscador">

    <select name="orden">
        <option value="">Ordenar por precio</option>
        <option value="menor">Menor a mayor</option>
        <option value="mayor">Mayor a menor</option>
    </select>

    <button type="submit">
        Ordenar
    </button>

</form>

    <div class="container">

        <div class="productos-grid">

            {{range .Productos}}

            <div class="producto-card">

                <img src="{{.Imagen}}" alt="{{.Nombre}}">

                <h2>{{.Nombre}}</h2>

                <p>Precio: ${{.Precio}}</p>

                <a href="/agregar?id={{.ID}}">
                    <button>Agregar al carrito</button>
                </a>

            </div>

            {{end}}

        </div>

        <div class="paginacion">

            {{if .PaginaAnterior}}
            <a href="/productos?pagina={{.PaginaAnterior}}">
                <button>Anterior</button>
            </a>
            {{end}}

            <span>Página {{.PaginaActual}}</span>

            {{if .PaginaSiguiente}}
            <a href="/productos?pagina={{.PaginaSiguiente}}">
                <button>Siguiente</button>
            </a>
            {{end}}

        </div>

    </div>

</body>

</html>