<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resumen de Compra</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!--
    Muestra el resumen final de la compra,
    agrupando productos repetidos y calculando subtotal, IVA y total.
    -->

    <header>
        <h1>Resumen de Compra</h1>
    </header>

    <nav class="menu">

        <div>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/carrito">Carrito</a>
        </div>

        <div>
            <div>
                {{if .ClienteActivo}}
                    
                    <span class="usuario-activo">Bienvenido, {{.ClienteNombre}}</span>
                    <a href="/logout-cliente">Cerrar Sesión</a>
                    
                {{else}}
                
                    <a href="/login">Login</a>
                    
                {{end}}
            </div>
        </div>

    </nav>

    <div class="container">

        <div class="card">

            <h2>Compra finalizada correctamente</h2>

            <p><strong>Cliente:</strong> {{.Cliente}}</p>

            <p>Detalle de productos comprados:</p>

            <table class="tabla-resumen">

                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio unitario</th>
                    <th>Subtotal</th>
                </tr>

                {{range .Productos}}

                <tr>
                    <td>{{.Cantidad}}</td>
                    <td>{{.Nombre}}</td>
                    <td>${{printf "%.2f" .Precio}}</td>
                    <td>${{printf "%.2f" .Subtotal}}</td>
                </tr>

                {{end}}

            </table>

            <div class="totales-compra">

                <p><strong>Subtotal:</strong> ${{printf "%.2f" .Subtotal}}</p>

                <p><strong>IVA 15%:</strong> ${{printf "%.2f" .IVA}}</p>

                <h3>Total: ${{printf "%.2f" .Total}}</h3>

            </div>

            <a href="/productos">
                <button>Seguir comprando</button>
            </a>

        </div>

    </div>

</body>

</html>